{{>header}}

<div id="login" class="container has-webrtc">
	<div class="row">
		<div class="col-md-4">
			<form>
				<div class="form-group">
					<label for="room-id">Please enter a room name:</label>
					<input type="text" class="form-control" id="room-id" value="{{roomId}}">
				</div>
				<button type="button" class="btn btn-primary" id="join-chat">JOIN</button>
			</form>
		</div>
	</div>
</div>

<div id="chat" class="container has-webrtc">
	<div class="row">
		<div class="col-md-12">
			<p id="chat-url-text">You video chat URL is <a id="chat-url" href="#"></a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<video controls width="100%" id="local-video">
		</div>
		<div class="col-md-6">
			<video controls width="100%" id="remote-video">
		</div>
	</div>
</div>

<div id="webrtc-not-supported" class="container">
	<h1>This browser does not support WebRTC. Plewase visit <a href="http://webrtc.org">WebRTC.org</a> for more info.</h1>
</div>

<script src="/js/webrtc-chat.js"></script>

{{>footer}}